@layer base {
  .dark,
  [data-theme="dark"] {
    color-scheme: dark;

    /* Base Colors */
    --background: oklch(0.1371 0.036 258.53);
    --foreground: oklch(0.9838 0.0035 247.86);

    /* Surface: Used for non-overlay components (cards, accordions, disclosure groups) */
    --surface: oklch(0.28 0.0369 259.97);
    --surface-foreground: var(--foreground);

    /* Overlay: Used for floating/overlay components (tooltips, popovers, modals, menus) */
    --overlay: oklch(0.3037 0.0413 259.96);
    --overlay-foreground: var(--foreground);

    --muted: oklch(0.7107 0.0351 256.79);
    --scrollbar: oklch(0.7107 0.0351 256.79);

    --default: oklch(0.28 0.0369 259.97);
    --default-foreground: var(--foreground);

    /* Form Field Defaults - Colors (only the ones that are different from light theme) */
    --field-background: var(--default);
    --field-foreground: var(--foreground);

    /* Status Colors */
    --warning: oklch(0.7697 0.1645 70.61);
    --warning-foreground: var(--background);

    --danger: oklch(0.3959 0.1331 25.72);
    --danger-foreground: var(--foreground);

    /* Component Colors */
    --segment: oklch(0.28 0.0369 259.97);
    --segment-foreground: var(--foreground);

    /* Misc Colors */
    --border: oklch(0.28 0.0369 259.97);
    --separator: oklch(0.28 0.0369 259.97);
    --focus: var(--accent);
    --link: var(--foreground);

    /* Backdrop */
    --backdrop: rgba(0, 0, 0, 0.6);

    /* Shadows */
    --surface-shadow: 0 0 0 0 transparent inset;
    --overlay-shadow: 0 0 0 0 transparent inset;
    --field-shadow: 0 0 0 0 transparent inset;
  }
}
